* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

header {
  background-image: url("logo192.png");
  width: 100%;
  height: 70px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header nav {
  height: 70px;
  background: #1a2537;
  /* background: #12658c; */
  display: flex;
  justify-content: space-between;
}

.icono {
  display: none;
}

.enlaces {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.enlaces a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 4px 0;
  transition: 0.7s ease-out;
  color: #ffffff;
  text-decoration: none;
}

.enlaces a:hover, .active {
  border-top: 2px solid coral;
  border-bottom: 2px solid coral;
}

nav .logo {
  height: 100%;
  /* background: #ffffff;
  margin-left: 80px;   */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

nav .logo img {
  object-fit: cover;
  height: inherit;
} 

@media screen and (max-width:750px) {
  .icono {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    color: #ffffff;
    background:transparent;
    padding: 20px;
    z-index: 100;
    cursor: pointer;
    margin-right: 40px;
  }
  .enlaces {
    z-index: 99;
    position: fixed;
    height: 100vh;
    right: 0;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease;
    background: #f46b45;
    background: -webkit-linear-gradient(to right, #eea849 #f46b45);
    background: linear-gradient(to right, #eea849 #f46b45)
  }

  .uno {
    clip-path: circle(0% at 100% 0);
  }
  .dos {
    clip-path: circle(150% at 100% 0);
  }
}


